name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Please make sure that your issue is not a duplicate issue, or something related to mobile renderers."
        pr-message: "Before opening a PR please look at the code_style_guide.md file in the documentation+ folder in the addon to ensure that your code follows the plugin's conventions."
